
block footer
    div(class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-margin uk-container")
        p Copyright (C) Sylvia19 Su
        if donate
            div(class="uk-margin uk-container")
                p(class="uk-text-center") This website is provided free of charge through the power of your donations!
                p(class="uk-text-center") If you're seeing this, we haven't yet met our monthly operational goals. Please consider donating!
                p(class="uk-text-center") Thank you!!
            div(class="uk-margin uk-container")
                form(action="https://www.paypal.com/donate", method="post", target="_top")
                    input(type="hidden", name="cmd", value="_donations")
                    input(type="hidden", name="business", value="victordavion@gmail.com")
                    input(type="hidden", name="item_name", value="Maintenance")
                    input(type="hidden", name="currency_code", value="USD")
                    input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif", border="0", name="submit", title="PayPal - The safer, easier way to pay online!", alt="Donate with PayPal button", uk-tooltip="title: PayPal")
                    img(alt="", border="0", uk-img="data-src:https://www.paypal.com/en_US/i/scr/pixel.gif", width="1", height="1", uk-tooltip="title: Paypal", uk-svg)
                img(alt="", border="0", uk-img="data-src:/images/venmo.png", width="256", height="-1", uk-tooltip="title: Venmo", uk-svg)
