doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js')
    script(src="/javascripts/util.js")
  body
    div(class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light", data-src="/media/#{banner}" uk-img)
        img(class="offset-left", width="", height="", alt="", uk-img="data-src:/media/#{logo}", uk-svg)
    div(class="uk-margin uk-flex uk-flex-center", style={'padding-top': '100px'})
        h1(class="uk-h1") #{title}
    block content
