extends layout

block content
    if success.length > 0
        for message in success
            div(class="uk-alert-success", uk-alert)
                a(class="uk-alert-close", uk-close)
                p= message
    if error.length > 0
        for message in error
            div(class="uk-alert-danger", uk-alert)
                a(class="uk-alert-close", uk-close)
                p= message
    form(action="/login", method="POST")
        div(class="uk-margin")
            label(class="uk-form-label", for="charactername") Character Name
            input(class="uk-input", type="text", id="charactername", name="CharacterName", required)
        div(class="uk-margin")
            label(class="uk-form-label", for="password") Password
            input(class="uk-input", type="password", id="password", name="password", required)
        button(class="uk-button uk-button-default", type="submit") Login
    
    a(class="uk-link-text", href="/register") Register
