extends layout

block content
    div(class="uk-flex uk-flex-center uk-margin")
        a(href="/sellOrder", class="uk-button uk-button-default", uk-tooltip="title: We Buy Your Stuff") Create Sell Order
        a(href="/buyOrder", class="uk-button uk-button-default", uk-tooltip="title: We Sell You Stuff") Create Buy Order