extends layout

block content
    if success.length > 0
        for message in success
            div(class="uk-alert-success", uk-alert)
                a(class="uk-alert-close", uk-close)
                p= message
    if error.length > 0
        for message in error
            div(class="uk-alert-danger", uk-alert)
                a(class="uk-alert-close", uk-close)
                p= message
    div(class="uk-flex uk-flex-center uk-margin")
        form(action='/sellOrder')
            if sellOrdersEnabled
                button(type="submit", class="uk-button uk-button-default", uk-tooltip="title: We Buy Your Stuff") Create Sell Order
            else
                button(type="submit", class="uk-button uk-button-default", uk-tooltip="title: Disabled", disabled) Create Sell Order (Disabled)
        form(action='/buyOrder')
            if buyOrdersEnabled
                button(type="submit", class="uk-button uk-button-default", uk-tooltip="title: We Sell You Stuff") Create Buy Order
            else
                button(type="submit", class="uk-button uk-button-default", uk-tooltip="title: Disabled", disabled) Create Buy Order (Disabled)