extends layout

block content
    div(class="uk-flex uk-flex-center uk-margin")
        a(href="/sellOrder", class="uk-button uk-button-default") Create Sell Order
        a(href="/buyOrder", class="uk-button uk-button-default") Create Buy Order