extends layout

block content
    form(action="/register", method="POST")
        div(class="uk-margin")
            label(for="charactername") Character Name
            input(class="uk-input", type="text", id="charactername", name="charactername", required)
        div(class="uk-margin")
            label(for="email") Discord Name
            input(class="uk-input", type="email", id="email", name="email", required)
        div(class="uk-margin")
            label(for="email") Email
            input(class="uk-input", type="email", id="email", name="email", required)
        div(class="uk-margin")
            label(for="password") Password
            input(class="uk-input", type="password", id="password", name="password", required)
        button(class="uk-button uk-button-default", type="submit") Register
    
    a(class="uk-link-text", href="/login") Login